@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

/* Reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

body {
  width: 100%;
  font-family: Verdana, sans-serif;
}



/* Navigation bar */

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav__item-logo {
  margin: 2%;
  font-size: 22px;
}

.nav-logo .blod {
  font-weight: 500;
  background-color: #34383e;
  padding: 2px 4px;
  color: white;
  letter-spacing: 2px;
}

.nav-logo .thin {
  font-weight: 300;
  letter-spacing: 1px;
}

.nav-links-container {
  display: flex;
  font-size: 18px;
}

.nav__links {
  list-style: none;
  margin-right: 8px;
}

.nav__links:last-child {
  margin-right: 0;
}

.nav_link {
  padding: 10px 18px;
  border-radius: 6px;
}

.nav_link:hover {
  background-color: #bebebe;
}

.nav-item__toggle-btn {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 8px;
}

/* Sticky nav class for js */
.sticky-nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.87);
  transition: position 2s;
}

/* Main header section */

.main-header {
  width: 100%;
  height: 90vh;
  background: url("./img/architect.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero-banner {
  width: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 50%;
}

.hero-heading {
  margin: 0 2%;
  color: white;
}

.bold {
  background-color: #34383e;
  padding: 8px 12px;
}

.thin {
  font-weight: 300;
}










main {
  margin-top: 60px;
  padding: 40px 16px 0 16px;
}
#projects {
  padding: 32px 16px;
  font-weight: 500;
  font-size: 23px;
}
article {
  padding: 20px 15px 0 15px;
}
.container-1 figure img,
.container-2 figure img,
div.container-3 img {
  width: 100%;
  max-width: 350px;
}
div.container-1 > div,
div.container-2 > div {
  position: relative;
}
div.container-1 > div > figcaption,
div.container-2 > div > figcaption {
  background-color: black;
  color: white;
  display: inline;
  padding: 10px 12px;
  top: 0;
  position: absolute;
  top: 0;
}
div.container-1,
div.container-2,
div.container-3 {
  display: flex;
  gap: 10px 18px;
  margin-bottom: 15px;
}
#about {
  padding: 38px 0 20px 0;
  font-weight: 500;
  font-size: 23px;
}
.about-us {
  padding: 20px 0 45px 0;
}
div.container-3 > div > h4 {
  padding: 20px 0 30px 0;
  font-size: 20px;
  font-weight: 500;
}
p.position {
  font-size: 14px;
  color: #686868;
  padding-bottom: 12px;
}
div.container-3 button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 14px;
  cursor: pointer;
}
div.container-3 button:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
#contact {
  padding: 60px 0 40px 0;
  font-weight: 500;
  font-size: 23px;
}
input {
  padding: 8px 5px;
  width: 100%;
  margin-bottom: 15px;
}
form > button {
  font-size: 16px;
  padding: 9px 18px;
  border: none;
  cursor: pointer;
  margin: 10px 0 45px 0;
  background-color: black;
  color: white;
}
form > button:hover {
  background-color: white;
  color: black;
}
img.map {
  width: 100%;
  max-width: 1400px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 8px;
}
footer > a {
  color: whitesmoke;
  font-family: "Allison", cursive;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}



/* Media queries */

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .nav__item-logo {
    margin: 14px;
  }

  .nav__item-menu {
    width: 100%;
    display: none;
  }

  .nav-links-container {
    flex-direction: column;
    justify-content: center;
  }

  .nav__links {
    text-align: center;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid black;
  }

  .nav-item__toggle-btn {
    display: flex;
  }
  
  /* Show nav menu class for js */
  .show-nav {
    display: block;
  }
} 




















@media screen and (max-width: 850px) {
  div.container-1,
  div.container-2,
  div.container-3 {
    display: flex;
    flex-flow: row wrap;
  }
  div.container-1 > div,
  div.container-2 > div,
  div.container-3 > div {
    flex: 1 1 40%;
  }
  .container-1 figure img,
  .container-2 figure img,
  div.container-3 img {
    width: 100%;
    max-width: 450px;
  }
  div.container-3 > div {
    max-width: 450px;
  }
}

/* Media query */

@media screen and (max-width: 650px) {
  figcaption > h1 > span.thin {
    display: none;
  }
  figcaption > h1 > span.bold {
    padding-right: 10px;
  }
}
@media screen and (max-width: 530px) {
  div.container-1,
  div.container-2,
  div.container-3 {
    display: flex;
    flex-direction: column;
  }
  .container-1 figure img,
  .container-2 figure img,
  div.container-3 img {
    width: 100%;
    max-width: 500px;
    align-items: center;
  }
}

